/* common */
:root {
    --main-color : #b9e567;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}


/* header - Nav */
nav {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
}

nav .logo_image{
    width: 100px;
    height: 100px;
    margin-left: 1rem;
}

nav .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    padding : 10px;
    margin-right: 1rem; /* rem은 html기준 em은 상위요소 기준 */
}

nav .profile img {
    width : 90px;
    height: 90px;
    border-radius: 50%;
}

nav .profile h2 {
    font-size: 2rem;
}

nav .profile i {
    font-size: 1.5rem;
}

/* Container */
.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    min-height: 1000px;
}

.container .familylist {
    flex : 1;
}

.container .chatroom {
    flex : 2;
}

.container .chatlist {
    flex : 1;
}

/* family list */

.familylist .group ul{ 
    display : flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin : 10px 0;
}

.familylist .group ul li {  /*여기 한번 수정 필요 responsive하게*/
    margin : 0 auto;
    border-left : 1px solid #9fdb30;
    padding-left: 8%;
    color: black;
    position: relative ;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}

.familylist .group ul li:nth-child(1) {
    border: none;
}

.familylist .group ul li a:hover {
    color : var(--main-color);
}   



